/* Font */
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}
/* Font Styles End Here */

/* Shared Styles Start Here */
/* Buttons */
.btn-1 {
  color: rgba(0, 106, 80, 1);
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(0, 106, 80, 1);
  border-radius: 8px;
  border-style: solid;
  font-size: 18px;
  padding: 15px 30px;
}

.btn-2 {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 106, 80, 1);
  border: none;
  border-radius: 8px;
  font-size: 18px;
  padding: 15px 30px;
}

.text-16 {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}

.text-20 {
  font-size: 20px;
  color: rgba(14, 14, 14, 0.8);
}

.text-40 {
  font-size: 40px;
  color: rgba(14, 14, 14, 0.8);
}
/* Shared Styles End Here */

/* Nav Bar Section Start Here */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 160px 24px 160px;
}

nav a {
  text-decoration: none;
}
/* Nav Bar Section End Here */
/* Banner Styles Start Here */
.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background-color: rgba(198, 228, 214, 1);
  border-radius: 24px;
  margin: 20px 160px;
  max-width: 1250px;
  margin: 0 auto;
}

.banner-img {
  width: 470px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.banner-title {
  font-size: 24px;
  color: rgba(14, 14, 14, 0.5);
}

.banner-description {
  font-size: 56px;
}

/* Main Section */
main {
  max-width: 1600px;
  margin: 0 auto;
}

main section {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 160px;
  margin-right: 160px;
}
/* Pillars of Bangladesh Start Here */
.pillars-container {
  display: flex;
  gap: 24px;
}

.pillars-content {
  padding: 24px;
  box-shadow: 0px 6px 50px 0px rgba(14, 14, 14, 0.15);
  border-radius: 16px;
}

.pillars-content-title {
  font-size: 20px;
}

.pillar-content-description {
  font-size: 16px;
}
/* Pillars of Bangladesh End Here */

/* Vision of Future Section Start Here */
.future-content {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.future-development {
  padding: 32px;
}

.card-01 {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
}

.card-01-btn {
  color: rgba(255, 255, 255, 1);
  background-color: #5490f5;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 15px 30px;
}

.card-02 {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(198, 228, 214);
}

.card-02-btn {
  color: rgba(255, 255, 255, 1);
  background-color: #09a15c;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 15px 30px;
}

.card-03 {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(247, 235, 207);
}

.card-03-btn {
  color: rgba(255, 255, 255, 1);
  background-color: #ffc239;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 15px 30px;
}

.speech-yunus {
  padding: 48px 24px 48px 24px;
  margin: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
/* Vision of Future Section End Here */
/* Recent News Section Start Here */
.box-1 {
  padding: 48px;
  display: flex;
  margin: 24px 0px;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.box-2 {
  padding: 48px;
  display: flex;
  margin: 24px 0px;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.box-img {
  border-radius: 24px;
}
/* Recent News Section End Here */
/* Newsletter Section */
.newsletter {
  border-radius: 24px;
  background: rgb(198, 228, 214);
  padding: 80px 100px 80px 100px;
}
input {
  width: 600px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  padding: 15px 30px;
}
